/* Default: Mobile Style (Tall and fills screen) */
.map-container {
  width: 100%;
  height: 80vh; /* Takes up 85% of phone screen */
}

/* PC Style: When screen is wider than 768px */
@media (min-width: 768px) {
  .map-container {
	width: 100%;
    max-height: 600px; /* Fixed height for Desktop */
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  }
}